<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geek.pet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.geek.pet.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>
        <provider
            android:name="com.geek.pet.common.utils.MyFileProvider"
            android:authorities="com.geek.pet.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <!-- arms配置 -->
        <meta-data
            android:name="com.geek.pet.common.config.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity
            android:name="com.geek.pet.mvp.supermarket.ui.activity.ShopActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.geek.pet.mvp.common.ui.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.pet.mvp.supermarket.ui.activity.GoodsDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.pet.mvp.common.ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.pet.mvp.common.ui.activity.CaptchaActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.geek.pet.mvp.common.ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.pet.mvp.recycle.ui.activity.RecycleListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.pet.mvp.recycle.ui.activity.RecycleAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.pet.mvp.supermarket.ui.activity.ShoppingCartActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.pet.mvp.supermarket.ui.activity.OrderCreateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.pet.mvp.common.ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.pet.mvp.person.ui.activity.MyShopOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.pet.mvp.person.ui.activity.PersonCenterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.pet.mvp.housewifery.ui.activity.HomeServicesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.pet.mvp.person.ui.activity.MyReceiverActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.geek.pet.mvp.person.ui.activity.ReceiverAddActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.geek.pet.mvp.housewifery.ui.activity.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.geek.huixiaoer"
                    android:pathPrefix="/conversationlist/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- 会话界面 -->
        <activity
            android:name="com.geek.pet.mvp.housewifery.ui.activity.CustomerServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.geek.huixiaoer"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

    </application>

</manifest>